<header>

  <div class="container">
    <a href="index.html" class="logo"><img src="assets/logo.png" alt="logo"></a>
    <!--MENU-->
    <nav class="clearfix">
      <a href="" id="header-menu-button"><i class="fa fa-bars"></i></a>
      <ul class="list-inline">
        <li><%= link_to 'Privacy', root_path %></li>
        <li><%= link_to 'Contact', root_path %></li>
        <li class="dropdown-submenu"><a href="">Pages</a>
          <ul class="dropdown-menu">
            <li><a href="search-result.html">Search results</a></li>
            <li><a href="author.html">Author page</a></li>
            <li><a href="404.html">Error404</a></li>
            <li><a href="coming.html">Coming soon</a></li>
            <li><a href="travel.html">Category page (grid)</a></li>
            <li><a href="fashion.html">Category page (list)</a></li>
            <li><a href="video-post.html">Post with video</a></li>
            <li><a href="slider-post.html">Post with slider</a></li>
            <li><a href="small-post.html">Post</a></li>
            <li><a href="fullwidth-post-right.html">Post fullwidth with sidebar</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!--END MENU-->
  </div>
</header>
